Dataset Information

The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant. One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:

1)sepal length in cm

2)sepal width in cm

3)petal length in cm

4)petal width in cm

5)class: -- Iris Setosa -- Iris Versicolour -- Iris Virginica

In [5]:
%pip install pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%pip install seaborn matplotlib
%pip install scikit-learn
%pip install os

Requirement already satisfied: seaborn in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (0.13.2)
Requirement already satisfied: matplotlib in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (3.10.7)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from seaborn) (2.3.4)
Requirement already satisfied: pandas>=1.2 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/harshavardhanan/Documents/CODING/ML_PROJECTS/IRIS_FLOWER_CKLASSIFICATION/iris_venv/lib/python3.14/site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.
ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os
Note: you may need to restart the kernel to use updated packages.

In [8]:
import os
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

DATASET LOADING

In [20]:
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
df= df.drop(columns='Id')
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
#describe stats of data
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [24]:
#basic info about datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [29]:
#to display number of samles on each class
df.Species.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

PREPROCESSING DATA